NET "inputA" LOC = P51 | IOSTANDARD = LVTTL;
NET "inputB" LOC = P41 | IOSTANDARD = LVTTL;
NET "inputC" LOC = P35 | IOSTANDARD = LVTTL;

NET "outSum" LOC = P30 | IOSTANDARD = LVTTL;
NET "outCarry" LOC = P27 | IOSTANDARD = LVTTL;